/*
body { background-color: #f5f7fa; font-family:'Roboto'; text-align:center; }
h1 { margin:50px auto;}
*/
.zoom {
  position: absolute;
  top: 60px;
  left: 24px;
  z-index: 4;
 /*height: 70px;*/
}
.zoom-workspace {
    position: absolute;
    top: 105px;
    left: 20px;
    z-index: 4;
    /*height: 70px;*/
}
.zoom-reporting {
    position: absolute;
    top: 105px;
    left: 30px;
    z-index: 1001;
    /*height: 70px;*/
}

.zoom-fab {
  display: inline-block;
  width: 40px;
  height: 40px;
  /*line-height: 40px;*/
  border-radius: 50%;
  /*background-color: #009688;*/
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
/* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  cursor: pointer;
  color: #FFF;
}

.zoom-fab:hover {
  /*
  background-color: #4db6ac;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);

  */
}

.zoom-btn-large {
  width: 200px;/*220px;*/
  height: 60px;
  line-height: 65px;
}
.zoom-fab img{
  width: 100%;
  height: 25px;/*30px;*/
}
/*
.zoom-btn-person { background-color: #F44336; }

.zoom-btn-person:hover { background-color: #e57373; }

.zoom-btn-doc { background-color: #ffeb3b; }

.zoom-btn-doc:hover { background-color: #fff176; }

.zoom-btn-tangram { background-color: #4CAF50; }

.zoom-btn-tangram:hover { background-color: #81c784; }

.zoom-btn-report { background-color: #2196F3; }

.zoom-btn-report:hover { background-color: #64b5f6; }

.zoom-btn-feedback { background-color: #9c27b0; }

.zoom-btn-feedback:hover { background-color: #ba68c8; }
*/
.zoom-menu {
  position: absolute;
  /*right: 70px;*/
  left: 10px;
  top: 95px;
  transform: translateY(-50%);
  height: 100%;
  /*width: 500px;*/
  list-style: none;
  /*text-align: right;*/
  z-index: 1000;
  
}
    ul.zoom-menu {
        margin: 0px !important;
        z-index: 1000;
		padding: 0px;
    }
    .zoom-menu li {
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
    }

.zoom-card {
  position: absolute;
  right: 150px;
  bottom: 70px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
 /* background-color: #009688;*/
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); */
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: left;
}

.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }
